@import url(http://fonts.googleapis.com/css?family=ABeeZee);

body {
    margin:0;
    font-family: ABeeZee, sans-serif;
}

#container {
    width: 75%;
    margin-left: 10%;
    border: 50px solid rgb(83, 127, 188);;
    border-radius: 50px;
    display: inline-block;
}

#display {
    width: 65%;
    display: inline-block;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    border: 10px inset gray;
    border-radius: 50px;
}

.item {
    display: inline-block;
    margin: 25px;
}

.qty {
    width: 25px;
    height: 25px;
}

p.title, p.price {
    width: 100px;
    margin-left: 15px;
    text-align: center;
}

p.title {
    background-color: rgb(170, 212, 232);
    padding: 10px 0;
    border: 0px solid transparent;
    border-radius: 10px;
    width:150px;
}

button.addToCart {
    background-color: rgb(219, 116, 72);
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-left: 20px;
}

#tablediv, table {
    width: 350px;
    height: 500px;
    display: inline-block;
    float: right;
    margin-right: 0px;
}

table {
    border-top: 25px solid rgb(219, 232, 160);
    border-left: 25px solid rgb(219, 232, 160);
}

table, th, tr {
    border-collapse: collapse;
}

thead {
    text-align: center;
}

th {
    border-bottom: 5px solid rgb(175, 183, 125);
}

td {
    min-width: 50px;
    text-align: right;
}

td:first-child {
    min-width: 100px;
    text-align: left;
}

td:last-of-type {
     text-align: center;
}

button.remove {
    color: red;
    font-weight: bold;
}